<div class="container-fluid">
  <div class="row">
    <!-- Sidebar  -->

    <app-sidebar></app-sidebar>
    <!-- Page Content  -->
    <div id="content">

      <nav class="navbar navbar-light bg-light">
        <button (click)="togleSidebar()" id="sidebarCollapse" class="navbar-toggler " type="button">
          <span class="navbar-toggler-icon"></span>

        </button>
        <!-- <div>
                <span>Logged in as : <span class="font-weight-bold">{{user?.fullName}}({{user?.roleName}})</span></span>
            </div> -->

        <span>

          <div class="dropdown block-inline" id="notificationContainer">
            <a class="btn site-btn-outlined " role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span *ngIf="notActedTotal>0" class="badge badge-light">{{notActedTotal}}</span>
              <i class="far fa-bell"></i>
            </a>
            <div id="notificationBody" class="dropdown-menu dropdown-menu-right p-0">
              <ul  class=" list-group notification-body"
              aria-labelledby="dropdownMenuLink">
              <li *ngIf="lstNotification.length==0" class="list-group-item">
                <span>No new notification</span>
              </li>
              <li class="notification-list list-group-item" *ngFor="let n of lstNotification | paginate : paginationConfig"
                (click)="readAndRedirectToUri(n.id,n.uri,n.data,n.notificationTypeId)">
                <span>{{n.details}}</span>
              </li>
              <li class="notification-bottom list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="clear-btn" (click)="clearAll()">Clear all</div>
                  <pagination-controls (pageChange)="getPage($event)" id="notification_list"
                    class="notification-pagination"></pagination-controls>
                </div>
               
              </li>

            </ul>
            </div>
            

          </div>


          <div class="dropdown block-inline">
            <a class="btn btn-default dropdown-toggle gry-text" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class=" font-weight-bold">{{user?.fullName}}({{user?.roleName}})</span>
            </a>

            <ul class="dropdown-menu dropdown-menu-right py-0">
              <li>
                <button class="dropdown-item py-2" (click)="profileInfoUpdate()">Profile</button>
              </li>
              <li>
                <button class="dropdown-item py-2" (click)="changePassword()">Change Password</button>
              </li>
              <li>
                <button class="dropdown-item py-2" (click)="logout()">Log Out</button>
              </li>
            </ul>
          </div>

          

        </span>
      </nav>

      <div class="p-3 contentBoxHeight clearfix">
        <div class="white-bg cutom-box-shadow customBoxHeight clearfix">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ul class="list-unstyled  logout-ctr mb-0">

        <li (click)="logout()">
          <a (click)="logout()" aria-expanded="false" class="cursor-pointer">
      

        <span>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 26 26" style="enable-background:new 0 0 26 26;" xml:space="preserve">
            <g>
              <rect x="12.1" y="2.5" width="1.7" height="9.9" />
              <path d="M15.7,3.9v1.3c3.5,1.1,6.1,4.4,6.1,8.3c0,4.8-3.9,8.8-8.8,8.8s-8.8-3.9-8.8-8.8c0-3.9,2.6-7.2,6.1-8.3V3.9
              C6.1,5.1,3,8.9,3,13.5c0,5.5,4.5,10,10,10s10-4.5,10-10C23,8.9,19.9,5.1,15.7,3.9z" />
            </g>
          </svg>

        </span >
        <span class="m-auto d-inline-block px-3">
          Logout
        </span>

      </a>

    </li>
  </ul> -->