<div class="p-4">
  <div class="row">
      <div class="col-12 site-maincontent-form-ctl-sm">
          <div class="d-flex headding-with-back-btn pb-3 mb-0">
            <a class="mr-3 pr-1 site-main-back-btn border-right" [routerLink]="['/unicef/beneficiary/approve']">
                <span class="pr-3">                               
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 26 26" style="enable-background:new 0 0 26 26;" xml:space="preserve">
                  <path d="M22.9,12.1h-18l6.9-6.5c0.4-0.3,0.4-0.9,0-1.3c-0.3-0.4-0.9-0.4-1.3,0l-7.9,7.5c-0.3,0.3-0.5,0.8-0.5,1.3
                    c0,0.5,0.2,0.9,0.5,1.3l7.8,7.5c0.2,0.2,0.4,0.2,0.6,0.2c0.2,0,0.5-0.1,0.7-0.3c0.3-0.4,0.3-0.9,0-1.3l-6.9-6.5h18
                    c0.5,0,0.9-0.4,0.9-0.9S23.4,12.1,22.9,12.1L22.9,12.1z"/>
                  </svg>

                </span>
            </a>

              <h1 class="mb-0">
             <span class="mr-2">Approve /</span>  <span class="mr-2">BRAC Learning Center</span>
              </h1>
            </div>

            <div class="d-flex flex-wrap mt-3">
              <div class="flex-grow-1 mr-2">
                  <div class="input-group mb-3 searchbox-with-filter">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                              <a class="filter-btn"  type="button" data-toggle="collapse" data-target="#filter-main" aria-expanded="false" aria-controls="collapseTwo">
                                  <span class="px-2">Filter By</span>
                                  <i class="fas fa-chevron-down pr-3"></i>
                              </a>      

                        </span>
                       
                      </div>
                      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                      <span class="input-group-text search-icon p-0 px-2">
                          <a >                                   
                              <svg version="1.1" id="Layer_1" x="0px" y="0px"
                                  viewBox="0 0 26 26" style="enable-background:new 0 0 26 26;" xml:space="preserve">
                              <g>
                                  <path d="M22.8,22L18,17.1c1.3-1.5,2.1-3.5,2.1-5.6c0-4.7-3.8-8.5-8.5-8.5C6.8,3,3,6.8,3,11.5S6.8,20,11.5,20c2.1,0,4.1-0.8,5.6-2.1
                                      l4.9,4.9c0.1,0.1,0.3,0.2,0.4,0.2s0.3-0.1,0.4-0.2C23.1,22.6,23.1,22.2,22.8,22z M4.2,11.5c0-4,3.3-7.3,7.3-7.3s7.3,3.3,7.3,7.3
                                      s-3.3,7.3-7.3,7.3C7.5,18.9,4.2,15.6,4.2,11.5z"/>
                              </g>
                              </svg>
                          </a>
                      </span>
                    </div>
                    
                 
              </div>
     

          </div>

            <!-- filer accordion start -->

            <div class="accordion" id="accordionExample">                 
              <div>                
                <div id="filter-main" class="collapse" aria-labelledby="headingTwo" data-parent="#filter-main">
                  <div class="allborder-box border-redious-xl p-3">
                      <form class="site-form"> 
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputEmail4">Lorem ipsum dolor</label>                                  
                              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                  <option selected>January</option>
                                  <option value="1">February</option>
                                  <option value="2">March</option>
                                  <option value="3">April</option>
                                  <option value="3">May</option>
                                  <option value="3">June</option>
                                  <option value="3">July</option>
                                  <option value="3">August</option>
                                  <option value="3">September</option>
                                  <option value="3">October</option>
                                  <option value="3">November</option>
                                  <option value="3">Decenber</option>
                              </select>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inputPassword4">Lorem ipsum dolor</label>
                              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                  <option selected>2020</option>
                                  <option value="1">2019</option>
                                  <option value="2">2018</option>
                                  <option value="3">2017</option>
                                  <option value="3">2016</option>
                                  <option value="3">2015</option>
                                  <option value="3">2014</option>
                                  <option value="3">2013</option>
                                  <option value="3">2012</option>
                                  <option value="3">2011</option>
                                  <option value="3">2010</option>
                                  <option value="3">2009</option>
                              </select>
                            </div>
                          </div>

                          <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Lorem ipsum dolor</label>                                  
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                    <option selected>----</option>
                                    <option value="1">----</option>
                                    <option value="2">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                </select>
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputPassword4">Lorem ipsum dolor</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                    <option selected>----</option>
                                    <option value="1">----</option>
                                    <option value="2">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                    <option value="3">----</option>
                                </select>
                              </div>
                            </div>
                          </form>                        
                                   <div  class="py-3 text-right">
                                    <a class="btn site-btn-cutom-link" data-dismiss="modal" type="button"   type="button" data-toggle="collapse" data-target="#filter-main" aria-expanded="false" aria-controls="collapseTwo"><span>Cancel</span></a>
                                    <a  class="btn site-btn-primary ml-3" type="button"><span>Filter Data</span></a>
                                  </div>
                     
                  </div>
                </div>
              </div>
             
            </div>

            
          <!-- filer accordion end -->

             <!-- table info start -->
             <div class="py-2">
              <div class="d-flex flex-wrap align-content-start ">
                <p class="gry-text  mr-2 py-1 my-auto">Now showing :</p> 

                <span class="filter-tag py-1 px-2 mr-2 my-1 d-flex flex-wrap">
                  <span class="mr-3 ml-1"> lorem ipsum</span>
                  <span class="mr-1"><a ><i class="fa fa-times" aria-hidden="true"></i></a></span>
                 
                </span>
             
                <span class="filter-tag py-1 px-2 mr-2 my-1 d-flex flex-wrap">
                  <span class="mr-3 ml-1">lorem ipsum</span>
                  <span class="mr-1"><a ><i class="fa fa-times" aria-hidden="true"></i></a></span>
                 
                </span>
             
                <span class="filter-tag py-1 px-2 mr-2 my-1 d-flex flex-wrap">
                  <span class="mr-3 ml-1"> lorem ipsum </span>
                  <span class="mr-1"><a ><i class="fa fa-times" aria-hidden="true"></i></a></span>
                 
                </span>
             
                <span class="filter-tag py-1 px-2 mr-2 my-1 d-flex flex-wrap">
                  <span class="mr-3 ml-1"> lorem ipsum</span>
                  <span class="mr-1"><a ><i class="fa fa-times" aria-hidden="true"></i></a></span>
                 
                </span>
              </div>
            </div>

             <!-- table info end -->

             <div class="full-table-ctl"> 
              <!-- table control start -->
            <div class="py-3">
              <div class="table-control-head" id=#table-control-head-default> 
                <div class="d-flex flex-wrap py-2  align-items-baseline">
                  <div class="flex-grow-1 mr-3">
                    <div class="d-flex">
                      <p class="gry-text mb-0 mr-3 my-auto">
                        Choose record instance
                      </p>
                      <a class="px-2 py-1 table-view-dropdown my-auto "  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fa fa-angle-down mb-1" aria-hidden="true"></i></a>
                      <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="dropdownMenutableview">  
                        <span class="py-2 d-flex dropdown-item  border-bottom">
                          <span class="flex-grow-1">Choose record instance name001 </span>                            
                        </span>  
                         
                        <span class="py-2 d-flex dropdown-item  border-bottom">
                          <span class="flex-grow-1">Choose record instance name002 </span>                            
                        </span>  

                        <span class="py-2 d-flex dropdown-item  border-bottom">
                          <span class="flex-grow-1">Choose record instance name003</span>                            
                        </span>  

                        <span class="py-2 d-flex dropdown-item  border-bottom">
                          <span class="flex-grow-1">Choose record instance name004 </span>                            
                        </span>  
                      
                                                      
                       
                      </div>
                    </div>

                  </div>
         
                </div>

                <!-- table option start -->

                <div class=" table-cell-options py-2 px-2" id=#table-cell-option-show-hide>
                 <div class="d-flex flex-wrap">
                   <p class="my-auto flex-grow-1 ml-2"><span class="mr-2">1</span><span>Item(s) selected</span></p>
                   <div class="d-flex">
                     <a class="site-btn-outlined-white-bg py-2 px-3 mr-3">
                       <span>Approve</span>                           
                     </a>
                     <a class="site-btn-outlined-white-borderd py-2 px-3 mr-2">
                      <span>Recollect</span>                         
                    </a>  
                                      
                   </div>
                 </div>
                </div>
                  <!-- table option end -->
              </div>
             


            </div>
                 <!-- table control end -->

                  <!-- table start -->
        <div class>
          <div>

            <div class="site-table">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="row">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input"  name="materialExampleRadios" id=#chkoption>                                                   
                      </div>
                    </th>
                    <th scope="col">Name</th>
                    <th scope="col">ID</th>
                    <th scope="col">Facility Name</th>
                    <th scope="col">Father’s Name</th>
                    <th scope="col">Mothers Name</th>
                    <th scope="col">Level</th>
                    <th scope="col">Enrollment Date</th>
                    <th scope="col">Data Holder’s Phone</th>                  
                    <th scope="col">#of rohingya boys in level-1</th>                        
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row ">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input"  name="materialExampleRadios"  id=#chkoption>                                                   
                      </div>
                    </th>
                    <td>Samima</td>
                    <td>796979/4</td>
                    <td>BRAC Learning Center</td>                          
                    <td>Eman Hossain</td>
                    <td>Papy</td>
                    <td>Level 1</td>   
                    <td>	10-Aug-18</td>
                    <td>	1880648060</td> 
                    <td>	1</td>                              
                  </tr>              
                </tbody>
              </table>
            </div>

            <div class="border-top">
              <div class="pt-3"> 
                <nav aria-label="Page navigation example ">
                  <ul class="pagination mb-0 justify-content-end">
                    <li class="page-item">
                      <a class="page-link"  aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" >1</a></li>
                    <li class="page-item"><a class="page-link" >2</a></li>
                    <li class="page-item"><a class="page-link" >3</a></li>
                    <li class="page-item">
                      <a class="page-link"  aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
       
            </div>

          </div>
        </div>
        <!-- table end -->
          </div>
     
   


          

            

          </div>
        </div>

      </div>