<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unicef.mis">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".util.UnicefApplication"
        android:allowBackup="false"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".service.AppFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".views.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.auth.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".views.facility.FacilityRecordsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".views.benificiary.BeneficiaryListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".views.benificiary.BeneficiaryRecordsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".views.offline_data.facility.OfflineFacilityRecordsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".views.offline_data.beneficiary.OfflineBeneficiaryListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".views.offline_data.beneficiary.OfflineBeneficiaryRecordsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".views.upload.beneficiary.UploadBeneficiaryListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".views.upload.beneficiary.UploadBeneficiaryIndicator"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".util.BaseActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".views.benificiary.NewBeneficiaryOfflineActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".views.benificiary.NewBeneficiaryOnlineActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".views.notification.NotificationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <!--Dummy Service & Broadcast Receiver-->
        <receiver
            android:name=".service.MyBroadCastReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>