.show-context-menu {
    display: block !important;   
}

.inactive-not-approve-beneficiary-data {
    background-color: var(--Gry500) !important;
}

.not-approved-beneficiary-data{
    background-color:var(--Blue300) !important;
}
.inactive-approve-beneficiary-data{
    background-color:var(--Blue200)!important;
}