<div class="p-4">
  <div class="row">
    <div class="col-12 site-maincontent-ctl">
      <div class="d-flex headding-with-back-btn pb-3 mb-0">
        <a class="mr-3 pr-1 site-main-back-btn border-right" [routerLink]="['/unicef/beneficiary/indicators',instanceId]">
          <span class="pr-3">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 26"
              style="enable-background:new 0 0 26 26;" xml:space="preserve">
              <path d="M22.9,12.1h-18l6.9-6.5c0.4-0.3,0.4-0.9,0-1.3c-0.3-0.4-0.9-0.4-1.3,0l-7.9,7.5c-0.3,0.3-0.5,0.8-0.5,1.3
                    c0,0.5,0.2,0.9,0.5,1.3l7.8,7.5c0.2,0.2,0.4,0.2,0.6,0.2c0.2,0,0.5-0.1,0.7-0.3c0.3-0.4,0.3-0.9,0-1.3l-6.9-6.5h18
                    c0.5,0,0.9-0.4,0.9-0.9S23.4,12.1,22.9,12.1L22.9,12.1z" />
            </svg>

          </span>
        </a>

        <h1 class="mb-0">
          Change Indicator Order
        </h1>
      </div>

      <div class="py-4">
        <div>
          <a (click)="save()" class="site-btn-primary py-2 px-3"><span> Save</span></a>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-8 col-lg-8 col-12">
          <!-- <form>
            <div class="input-group searchbox-with-filter">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <a class="filter-btn">
                    <span class="px-2">Search</span>
                  </a>

                </span>

              </div>
              <input type="text" class="form-control" aria-label="">
              <span class="input-group-text search-icon p-0 px-2">
                <a>
                  <svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 26 26"
                    style="enable-background:new 0 0 26 26;" xml:space="preserve">
                    <g>
                      <path d="M22.8,22L18,17.1c1.3-1.5,2.1-3.5,2.1-5.6c0-4.7-3.8-8.5-8.5-8.5C6.8,3,3,6.8,3,11.5S6.8,20,11.5,20c2.1,0,4.1-0.8,5.6-2.1
                                    l4.9,4.9c0.1,0.1,0.3,0.2,0.4,0.2s0.3-0.1,0.4-0.2C23.1,22.6,23.1,22.2,22.8,22z M4.2,11.5c0-4,3.3-7.3,7.3-7.3s7.3,3.3,7.3,7.3
                                    s-3.3,7.3-7.3,7.3C7.5,18.9,4.2,15.6,4.2,11.5z" />
                    </g>
                  </svg>
                </a>
              </span>
            </div>
          </form> -->

          <div class="green-text mt-3">
            <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
            <span>
              Drag and drop to change indicators order.
            </span>
          </div>
        </div>
        <div class="col-12">
          <div class="allborder-box border-redious-xl mt-3 overflow-hidden">
            <!-- <div class="py-3 px-3 view-selection-ctl">
              
              <ul cdkDropList class="list-unstyled" (cdkDropListDropped)="onDrop($event)">
                <li  class="gry-text py-2 px-3 single-indicators border-bottom">

                </li>
                  <li *ngFor="let indicator of lstIndicator" 
                 class="gry-text py-2 px-3 single-indicators border-bottom" cdkDrag cdkDragLockAxis="y">
                    <span> {{indicator.indicatorName}}</span>
                </li>
                
              </ul>
            </div> -->


            <div class="table-responsive view-selection-ctl">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Indicator name</th>
                    <th scope="col">Column order</th>
                    
                    
                  </tr>
                </thead>
                <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
                  <tr class="drag-handle" *ngFor="let indicator of lstIndicator" cdkDrag cdkDragLockAxis="y">
                    
                    <td>
                      {{ indicator.indicatorName }}
                    </td>
                    <th scope="row"> {{ indicator.columnOrder }}</th>
                  </tr>
                </tbody>
              </table>
            </div>








          </div>
        </div>
        <!-- <div class="col-xl-6 col-lg-6 col-12">

          <div class="allborder-box border-redious-xl overflow-hidden">
            <div class="indicators-selected-list">
              <div class="px-3">
                <div class="py-2 px-3 border-bottom">
                  <p class="mb-0 gry-text flex-grow-1 py-1"> Indicators </p>

                </div>

                <div>

                </div>

                <div class="single-indicators-selected px-2 py-3">
                  <div class="d-flex flex-wrap">
                    <p class="my-auto flex-grow-1"> #Fragility (B)ঃ Are you Businessman?</p>
                    <a class="icon-link-hover my-auto" href="">
                      <i class="fa fa-trash mr-3 gry-text" aria-hidden="true"></i>
                    </a>

                    <a class="icon-link-hover d-grid my-auto" href="">
                      <i class="fa fa-angle-down  gry-text" aria-hidden="true"></i>
                    </a>

                  </div>

                </div>
                <div class="single-indicators-selected px-2 py-3">
                  <div class="d-flex flex-wrap">
                    <p class="my-auto flex-grow-1"> #What is the Location of your cookstove in rainy season?</p>
                    <a class="icon-link-hover my-auto" href="">
                      <i class="fa fa-trash mr-3 gry-text" aria-hidden="true"></i>
                    </a>

                    <a class="icon-link-hover d-grid my-auto" href="">
                      <i class="fa fa-angle-up  gry-text" aria-hidden="true"></i>
                      <i class="fa fa-angle-down  gry-text" aria-hidden="true"></i>
                    </a>

                  </div>

                </div>
                <div class="single-indicators-selected px-2 py-3">
                  <div class="d-flex flex-wrap">
                    <p class="my-auto flex-grow-1"> #Do you engaged any other income generating activities?</p>
                    <a class="icon-link-hover my-auto" href="">
                      <i class="fa fa-trash mr-3 gry-text" aria-hidden="true"></i>
                    </a>

                    <a class="icon-link-hover d-grid my-auto" href="">
                      <i class="fa fa-angle-up  gry-text" aria-hidden="true"></i>
                      <i class="fa fa-angle-down  gry-text" aria-hidden="true"></i>
                    </a>

                  </div>

                </div>

                <div class="single-indicators-selected px-2 py-3">
                  <div class="d-flex flex-wrap">
                    <p class="my-auto flex-grow-1"> #Do you engaged any other income generating activities?</p>
                    <a class="icon-link-hover my-auto" href="">
                      <i class="fa fa-trash mr-3 gry-text" aria-hidden="true"></i>
                    </a>

                    <a class="icon-link-hover d-grid my-auto" href="">
                      <i class="fa fa-angle-up  gry-text" aria-hidden="true"></i>
                      <i class="fa fa-angle-down  gry-text" aria-hidden="true"></i>
                    </a>

                  </div>

                </div>

                <div class="single-indicators-selected px-2 py-3">
                  <div class="d-flex flex-wrap">
                    <p class="my-auto flex-grow-1"> #Do you engaged any other income generating activities?</p>
                    <a class="icon-link-hover my-auto" href="">
                      <i class="fa fa-trash mr-3 gry-text" aria-hidden="true"></i>
                    </a>

                    <a class="icon-link-hover d-grid my-auto" href="">
                      <i class="fa fa-angle-up  gry-text" aria-hidden="true"></i>
                      <i class="fa fa-angle-down  gry-text" aria-hidden="true"></i>
                    </a>

                  </div>

                </div>

                <div class="single-indicators-selected px-2 py-3">
                  <div class="d-flex flex-wrap">
                    <p class="my-auto flex-grow-1"> #Do you engaged any other income generating activities?</p>
                    <a class="icon-link-hover my-auto" href="">
                      <i class="fa fa-trash mr-3 gry-text" aria-hidden="true"></i>
                    </a>

                    <a class="icon-link-hover d-grid my-auto" href="">
                      <i class="fa fa-angle-up  gry-text" aria-hidden="true"></i>
                      <i class="fa fa-angle-down  gry-text" aria-hidden="true"></i>
                    </a>

                  </div>

                </div>

                <div class="single-indicators-selected px-2 py-3">
                  <div class="d-flex flex-wrap">
                    <p class="my-auto flex-grow-1"> #Do you engaged any other income generating activities?</p>
                    <a class="icon-link-hover my-auto" href="">
                      <i class="fa fa-trash mr-3 gry-text" aria-hidden="true"></i>
                    </a>

                    <a class="icon-link-hover d-grid my-auto" href="">
                      <i class="fa fa-angle-up  gry-text" aria-hidden="true"></i>
                      <i class="fa fa-angle-down  gry-text" aria-hidden="true"></i>
                    </a>

                  </div>

                </div>


              </div>





            </div>
          </div>



        </div> -->
      </div>


    </div>
  </div>

</div>