<div class="modal-content">
    <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
  
            <div class="form-group">
                <label for="exampleFormControlInput1">Old Password</label>
                <input
                type="password"
                class="form-control" 
                id="exampleFormControlTextarea1"                 
                formControlName="oldPassword"
                 >
                 <div class="invalid-feedback d-block" >
                    {{validationErrors?.oldPassword}}
                  </div>
            </div>

            <div formGroupName="confirm">

                <div class="form-group">
                    <label for="exampleFormControlInput1">New Password</label>
                    <input
                    type="password"
                    class="form-control" 
                    id="exampleFormControlTextarea1"                 
                    formControlName="newPassword"
                     >
                     <div class="invalid-feedback d-block" >
                        {{validationErrors?.newPassword}}
                      </div>
                </div>
    
                <div class="form-group">
                    <label for="exampleFormControlInput1">Confirm Password</label>
                    <input
                    type="password"
                    class="form-control" 
                    id="exampleFormControlTextarea1"                 
                    formControlName="confirmPassword"
                     >
                     <div class="invalid-feedback d-block" >
                        {{validationErrors?.confirmPassword}}
                      </div>
                </div>
                <div class="invalid-feedback d-block" >
                    {{validationErrors?.confirm}}
                  </div>
            </div>
    
    </div>
    <div class="modal-footer">
        <a type="button" (click)="cancel()" class="btn site-btn-cutom-link" data-dismiss="modal"><span>Cancel</span></a>
        <button 
            type="submit" 
            [disabled]="form.invalid"
            class="btn site-btn-primary"
            ><span>Submit</span></button>
    </div>
</form>
</div>