.show-context-menu {
    display: block !important;   
}

.recollect-facility-data{
    background-color: var(--Gry600) !important;
}
.approve-facility-data{
    background-color: var(--Blue300) !important;
}