<div class="container p-4 borderBoxHeight">
    <div class="row">
        <div class="col-12" *ngIf="tokenValidation.isValid && !resetSuccessful">
            <form [formGroup]="form" (ngSubmit)="submit()">

                <div formGroupName="confirm">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">New Password</label>
                        <input
                        type="password"
                        class="form-control" 
                        id="exampleFormControlTextarea1"                 
                        formControlName="newPassword"
                         >
                         <div class="invalid-feedback d-block" >
                            {{validationErrors?.newPassword}}
                          </div>
                    </div>
        
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Confirm Password</label>
                        <input
                        type="password"
                        class="form-control" 
                        id="exampleFormControlTextarea1"                 
                        formControlName="confirmPassword"
                         >
                         <div class="invalid-feedback d-block" >
                            {{validationErrors?.confirmPassword}}
                          </div>
                    </div>                    
                </div>    
                <div class="invalid-feedback d-block" >
                    {{validationErrors?.confirm}}
                  </div>                        
                
                <button 
                    type="submit" 
                    [disabled]="!form.valid"                    
                    class="btn site-btn-primary" >Submit</button>
              </form>              
        </div>
        
        <div class="col-12" *ngIf="!tokenValidation.isValid && !resetSuccessful">
            <div class="alert alert-danger" role="alert">
                <p>The token has expired! Please try again. </p>     
                <button [routerLink]="['/unicef/authentication/login']" class="btn-primary">Try again!</button>           
              </div>
        </div>

        <div class="col-12" *ngIf="resetSuccessful">
            <div class="alert alert-success" role="alert">
                <p>Your password has been reset. Please log in using your new password.</p>     
                <button [routerLink]="['/unicef/authentication/login']" class="btn-primary">Login Now!</button>           
              </div>
        </div>
        
    </div>
</div>

